.hoc {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 150px;
  position: relative;
  transform: scale(1);
}

.container {
  position: relative;
  // position: static;
  width: 400px;
  height: 300px;
  border: 1px solid #cacdd1;
  // overflow: hidden;
  // overflow: auto;

  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.box {
  // position: relative;
  width: 400px;
  height: 100%;
  border: 1px solid #cacdd1;
  flex-shrink: 0;
  // background-color: pink;
  // top: -10px;
  // // left: 0;
  // z-index: 10;
}

.menu {
  // position: absolute;
  position: sticky;
  width: 100px;
  height: 50px;
  background-color: pink;
  // top: -40px;
  top: -25px;
  left: 0;
  z-index: 10;
}